<h1>Reactive user profile</h1>
<form novalidate [formGroup]="formGroup" (ngSubmit)="submit()">
  <div>
    <input type="text" placeholder="Username" formControlName="username">
    <div *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].dirty">
      <div *ngIf="formGroup.controls['username'].hasError('required')">
        <small>Username is required</small>
      </div>
    </div>
  </div>
  <div>
    <input type="email" placeholder="Email">
  </div>
  <div>
    <input type="password" placeholder="Password">
  </div>
  <div>
    <input type="password" placeholder="Password again">
  </div>
  <div>
    <select>
      <option *ngFor="let gender of genderOptions">{{gender}}</option>
    </select>
  </div>
  <div>
    <input type="checkbox">I want to receive SMS notifications
    <input type="tel" placeholder="Phone" name="phone">
  </div>
  <button type="submit">Submit</button>
</form>
